server:
  port: 8080
spring:
  application:
    name: users
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
  datasource:
    url: jdbc:mysql://localhost:3307/UserService
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: User
    password: Password

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

management:
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      exposure:
        include: metrics,prometheus,health

logging:
  level:
    root: INFO
    ru.ru.yampolskiy: ERROR
  pattern:
    console: "%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"
    file: "%d %p %c{1.} [%t] %m%n"
  file:
    name: UserMicroservice.log