<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Task</title>
</head>
<body>
<h1>Edit Task</h1>
<form th:action="@{/tasks/{id}/edit(id=${task.id})}" method="post">
    <input type="hidden" th:name="_method" value="put"/>
    <label>
        ID: <br/>
        <input readonly="readonly" type="text" th:field="${task.id}"/>
    </label>
    <br/>
    <label>
        Title: <br/>
        <input type="text" th:field="${task.title}"/>
    </label>
    <br/>
    <label>
        Description: <br/>
        <input type="text" th:field="${task.description}"/>
    </label>
    <br/>
    <label>
        Created: <br/>
        <input readonly="readonly" type="text" th:field="${task.created}"/>
    </label>
    <br/>
    <label>
        Status: <br/>
        <input readonly="readonly" type="text" th:field="${task.status}"/>
    </label>
    <br/>
    <label>
        Last Update: <br/>
        <input readonly="readonly" type="text" th:field="${task.lastUpdate}"/>
    </label>
    <br/>
    <label>
        Owner: <br/>
        <input readonly="readonly" type="text" th:field="${task.ownerId}"/>
    </label><br/>
    <label>
        Finished: <br/>
        <input readonly="readonly" type="text" th:field="${task.finished}"/>
    </label>
    <br/>
    <button type="submit">Save</button>
</form>
<a href="/tasks">Cancel</a>
</body>
</html>
