server:
  port: 8083
spring:
  application:
    name: taskclient
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

management:
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      exposure:
        include: metrics,prometheus,health

apigateway:
  base-url: "http://localhost:8762/api"